// Variables
// Primary
$lightRed: hsl(0, 100%, 67%);
$orangeyYellow: hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%);

// Gradients
$lightRoyalBlue-bg: hsl(241, 81%, 54%);
$lightenRoyalBlue-bg: lighten($lightRoyalBlue-bg, 9);

// Neutral
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

// Reset CSS
* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
main,
aside {
    margin: 0;
    padding: 0;
}

// MOBILE
.wrapper {
    height: 100vh;
}

.card {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__first-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 355px;
        border-radius: 0 0 30px 30px;
        background-color: $lightenRoyalBlue-bg;

        h1 {
            margin-top: 20px;
            text-align: center;
            color: $lightLavender;
            font-size: 18px;
        }

        .circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 145px;
            height: 145px;
            margin: 0 auto;
            margin-top: 30px;
            border-radius: 50%;
            background: linear-gradient(180deg, #431ad6, $lightenRoyalBlue-bg);

            // Score
            & p:nth-child(1) {
                color: $white;
                font-size: 55px;
                font-weight: 800;
            }

            // of 100
            & p:nth-child(2) {
                color: $lightLavender;
                font-size: 15px;
                font-weight: normal;
            }
        }

        h2 {
            color: $white;
            text-align: center;
            margin-top: 20px;
            font-size: 25px;
            font-weight: normal;
        }

        // Sentence
        & p:nth-child(4) {
            width: 250px;
            margin-top: 8px;
            color: $white;
            font-size: 15px;

        }
    }

    &__second-part {
        width: 100%;
        padding: 0 30px;
        margin-bottom: 100px;

        h3 {
            margin: 25px 0;
            font-size: 18px;
            color: $darkGrayBlue;
        }

        .category {
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            margin-top: 15px;
            border-radius: 10px;

            img {
                width: 20px;
                height: 20px;
                margin-left: 10px;
            }

            // Category title
            & p:nth-child(2) {
                width: 100px;
                margin-right: 105px;
                padding-left: 10px;
                font-size: 16px;
                font-weight: bold;
            }

            // Score
            & p:nth-child(3) {
                font-size: 15px;
                font-weight: bold;
                color: $darkGrayBlue;

                // of 100
                span {
                    color: lighten($darkGrayBlue, 35);
                }
            }
        }

        // Category color classes
        .red {
            color: lighten($lightRed, 5);
            background-color: lighten($lightRed, 31);
        }

        .yellow {
            color: lighten($orangeyYellow, 5);
            background-color: lighten($orangeyYellow, 40);
        }

        .green {
            color: lighten($greenTeal, 5);
            background-color: lighten($greenTeal, 58);
        }

        .blue {
            color: lighten($lightRoyalBlue-bg, 5);
            background-color: lighten($lightRoyalBlue-bg, 43);
        }

        button {
            width: 100%;
            height: 45px;
            margin: 20px auto 0 auto;
            border: none;
            border-radius: 50px;
            background-color: $darkGrayBlue;
            color: $white;
            // font-weight: bold;
            font-size: 16px;
            transition: all 0.2s;

            &:hover {
                cursor: pointer;
                background-color: lighten($darkGrayBlue, 8);
            }
        }
    }
}

.footer {
    height: 50px;
    margin-top: -50px;
    background-color: $lightenRoyalBlue-bg;

    .attribution {
        font-size: 11px;
        text-align: center;
        color: $white;

        a {
            color: hsl(228, 45%, 44%);
            color: $white;
        }
    }
}

// DESKTOP
@media screen and (min-width:1440px) {
    main {
        align-items: center;
    }

    .card {
        width: 600px;
        height: 450px;
        flex-flow: row nowrap;
        border-radius: 30px;
        box-shadow: 0 0 50px 0 lighten($lightLavender, 7);


        &__first-part {
            width: 50%;
            border-radius: 30px;
            align-self: stretch;

            .circle {
                width: 180px;
                height: 180px;
            }

            // Sentence
            & p:nth-child(4) {
                text-align: center;
                font-size: 17px;
            }
        }

        &__second-part {
            width: 50%;
            margin-bottom: 0;

            h3 {
                font-size: 23px;
            }

            .category {
                margin-top: 10px;

                & p:nth-child(2) {
                    margin-right: 40px;
                }
            }

            button {
                margin: 30px auto;
            }
        }
    }
}